ENVIRONMENT=local # local | dev | prod
LOG_LEVEL=dev # debug | dev | prod
PORT=8000
ORIGINS='http://localhost:3030,http://192.168.18.7:3030'
# Example

# Database URL
DATABASE_URL="postgresql://postgres:ADMSTA@localhost:5450/grocery-store?schema=public"

# Clerk Keys
CLERK_PUBLISHABLE_KEY=pk_test_keywhatever
CLERK_SECRET_KEY=sk_test_keywhatever

